<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MagicUpdaterCommon.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MagicUpdaterCommon.Settings.ConnectionString" connectionString="Data Source=10.16.0.216;Initial Catalog=MagicUpdater;User ID=Sela;Password=Kizombo1313" />
    </connectionStrings>
    <applicationSettings>
        <MagicUpdaterCommon.Settings>
            <setting name="SelfUpdatePath" serializeAs="String">
                <value>C:\SystemUtils\MagicUpdaterNewVer</value>
            </setting>
            <setting name="SettingsFileName" serializeAs="String">
                <value>settings.json</value>
            </setting>
            <setting name="OperationsListCheckTimeout" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="User1C" serializeAs="String">
                <value>Программист</value>
            </setting>
            <setting name="Pass1C" serializeAs="String">
                <value>Sela700</value>
            </setting>
            <setting name="ServerTask" serializeAs="String">
                <value>mskkavserv.sela.ru</value>
            </setting>
            <setting name="BaseTask" serializeAs="String">
                <value>MagicUpdater</value>
            </setting>
            <setting name="UserTask" serializeAs="String">
                <value>Sela</value>
            </setting>
            <setting name="PasswordTask" serializeAs="String">
                <value>Kizombo1313</value>
            </setting>
            <setting name="Version1C" serializeAs="String">
                <value>8.3.7.1970</value>
            </setting>
        </MagicUpdaterCommon.Settings>
    </applicationSettings>
</configuration>