<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ftp.dll" version="2.0.16326.1309" targetFramework="net40" />
  <package id="NLog" version="4.4.1" targetFramework="net40" />
  <package id="NLog.Config" version="4.4.1" targetFramework="net40" />
  <package id="NLog.Schema" version="4.4.1" targetFramework="net40" />
  <package id="TaskScheduler" version="2.5.22" targetFramework="net40" />
</packages>